body{
  /*margin: 0;*/
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  color: #07689F;
  font-family: 'Montserrat',sans-serif;
}
h4{
   line-height: 2;
}
p{
  font-family: 'Merriweather'serif;
  line-height: 2;
  color:#888888;
}


.courses{
  text-decoration: none !important;
  color: #33313B !important;
}
.jumbotron{
  color: #07689F;
  background-color: #fff !important;
}
.heading{
  color: #07689F;
  margin: 30px;
}
 .navbar{
    background-color: #3F72AF;
    color: #fff !important;
    position: relative;
    padding-top: 30px;
  }
.dark-mode, .dark-mode *{
  background-color: #33313B;
  color: #f7f7f7;
  border-color: #f7f7f7;
}

.middle-container{
background-color: #f9F7F7;
color: #07689F;
margin: 100px 5px;
padding: 5px;
}
.bottom-container{
  background-color: #DBE2EF;
  color: #fff;
  padding: 50px 0;
}
.course-icon{
  width: 100%;
}
@media screen and (max-width: 576px) {
  .course-icon {
    width: 50%;
  }
  .row{
    text-align: center;
  }
  .course-text{
    text-align: center !important;
    }
    .social{
      text-align: center !important;
    }
}
.divider{
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
  border-color: #07689F;
  opacity: .25;
}
.dropdown-submenu{
  position: relative;
}
.social{
  text-align: left;
  margin-bottom: 20px;
}
