body{
  margin: 0;
  text-align: center;
}
h1{
  margin-top: 0;
  font-family: 'Montserrat',sans-serif;
}
h4{
   line-height: 2;
}

p{
  font-family: 'Merriweather'serif;
  line-height: 2;
  color:#888888;
}

.courses-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

 .top-container{
   background-color: #3F72AF;
  color: #fff;
  text-align: left;
  position: relative;
  padding-top: 30px;

}

.middle-container{
background-color: #fff;
color: #07689F;
margin: 100px 0;
}

.bottom-container{
  background-color: #DBE2EF;
  color: #fff;
  padding: 50px 0 20px;

}

.languages-img{
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.development-img{
border-radius: 50%;
width: 25%;
float: right;
margin-left: 30px;
}

.electronics-img{
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
